:root {
  --possibleMoveSize: 3rem;
  --lightSquareColor: rgb(238, 238, 210);
  --darkSquareColor: rgb(118, 150, 86);
  --gridBorderColor: black;
  --pieceSize: 6.5rem;
}

.chessContainer {
  aspect-ratio: 1/1;
  width: min-content;
}

.chessSquare {
  aspect-ratio: 1;
  width: var(--pieceSize);
  background-color: var(--lightSquareColor);
}

.chessSquare.dark {
  background-color: var(--darkSquareColor);
}

.piece {
  background-repeat: no-repeat;
  background-size: contain;
}

.chessGrid {
  border: 3px solid var(--gridBorderColor);
  display: grid;
  grid-template-columns: repeat(8, auto);
}

.white-pawn,
.white-rook,
.white-knight,
.white-bishop,
.white-king,
.white-queen,
.black-pawn,
.black-rook,
.black-knight,
.black-bishop,
.black-king,
.black-queen {
  background-size: contain;
  background-repeat: no-repeat;
}

.white-pawn {
  background-image: url(../../images/white-pawn.png);
}

.white-rook {
  background-image: url(../../images/white-rook.png);
}

.white-knight {
  background-image: url(../../images/white-knight.png);
}

.white-bishop {
  background-image: url(../../images/white-bishop.png);
}

.white-king {
  background-image: url(../../images/white-king.png);
}

.white-queen {
  background-image: url(../../images/white-queen.png);
}

.black-pawn {
  background-image: url(../../images/black-pawn.png);
}

.black-rook {
  background-image: url(../../images/black-rook.png);
}

.black-knight {
  background-image: url(../../images/black-knight.png);
}

.black-bishop {
  background-image: url(../../images/black-bishop.png);
}

.black-king {
  background-image: url(../../images/black-king.png);
}

.black-queen {
  background-image: url(../../images/black-queen.png);
}

.possibleMove {
  position: relative;
}

.possibleMove::before {
  content: '';
  display: inline-block;
  background-color: black;
  width: var(--possibleMoveSize);
  height: var(--possibleMoveSize);
  border-radius: 50%;
  position: absolute;
  --size: calc(var(--possibleMoveSize) / 2);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  opacity: 0.3;
}